@model IList<LocadoraCarro.Models.Carro>

<h1>Carro</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Modelo</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>       
        @foreach (var carro in Model)
        {
            <tr>
                <td>@carro.Id</td>
                @foreach (var modelo in ViewBag.Modelos)
                {
                    if (modelo.Id == carro.ModeloId)
                    {
                        <td><a href="/carro/visualiza/@carro.Id">@modelo.Nome</a></td>
                        break;
                    }
                }
                <td>@carro.Descricao</td>
            </tr>
        }            
    </tbody>
</table>
@Html.ActionLink("Adicionar", "Form", "Carro")

