
@model IList<LocadoraCarro.Models.Carro>

<h1>Carro</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Modelo do Carro</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var modelo in Model)
        {
            <tr>
                <td>@modelo.Id</td>
                <td>
                    @Html.ActionLink(modelo.Nome, "Visualiza", new { id = modelo.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

