@model IList<LocadoraCarro.Models.Carro>

<div class="divTexto">
    <h1 class="Titulo">Carros</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Modelo</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>       
        @foreach (var carro in Model)
        {
            <tr>
                <td>@carro.Id</td>
                @foreach (var modelo in ViewBag.Modelos)
                {
                    if (modelo.Id == carro.ModeloId)
                    {
                        <td><a href="/carro/visualiza/@carro.Id">@modelo.Nome</a></td>
                        break;
                    }
                }
                <td>@carro.Descricao</td>
            </tr>
        }            
    </tbody>
</table>
<button class="btn btn-success" onclick="location.href='@Url.Action("Form", "Carro")';return false;">Adicionar</button>


<canvas id="myChart" width="400" height="100"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');

var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    }
});

</script>