
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div> 
        <form action="/Modelo/Adiciona" method="post">
            @Html.ValidationMessage("modelo.caracter")

            <label for="nome">Nome:</label>
            <input id="=nome" name="modelo.nome"/>
            @Html.ValidationMessage("modelo.nome")

            <label for="descricao">Descricao:</label>
            <input id="=descricao" name="modelo.descricao"/>

            <input type="submit" value="Cadastrar" />
        </form>

    </div>
</body>
</html>
