
<form action="/Modelo/Adiciona" method="post">
    @Html.ValidationMessage("modelo.caracter")

    <label for="nome">Nome:</label>
    <input id="=nome" name="modelo.nome" class="form-control"/>
    @Html.ValidationMessage("modelo.nome")

    <label for="descricao">Descricao:</label>
    <input id="=descricao" name="modelo.descricao" class="form-control"/>

    <label for="marca">Marca:</label>
    <select id="marca" name="modelo.MarcaId" class="form-control">
        @foreach (var marca in ViewBag.Marca)
        {
            <option value="@marca.Nome">@marca.Nome</option>
        }

    </select>
        <input type="submit" value="Cadastrar" />
</form>
