
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome do Modelo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var modelo in ViewBag.Modelos)
                {
                    <tr>
                        <td>@modelo.Id</td>
                        <td>@modelo.Nome</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
