@model IList<LocadoraCarro.Models.Modelo>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome do Modelo</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var modelo in Model)
                {
                    <tr>
                        <td>@modelo.Id</td>
                        <td>
                            @Html.ActionLink(modelo.Nome, "Visualiza", new { id = modelo.Id})
                        </td>
                        <td>@modelo.Descricao</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
