
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div> 
        <form action="/Classe/Adiciona" method="post">
            <label for="nome">Nome:</label>
            <input id="nome" name="classe.Nome" />

            <label for="descricao">Descricao:</label>
            <input id="descricao" name="classe.Descricao" />

            <input type="submit" value="Cadastrar" />
        </form>
    </div>
</body>
</html>
