
<form class="data-hora">
    <h1>Aluguel</h1>
    <label for="nome">Data retirada:</label>
    <input type="date" id="nome" name="classe.Nome" class="form-control" />

    <label for="nome">Hora retirada:</label>
    <input type="time" id="nome" name="classe.Nome" class="form-control" />

    <label for="nome">Data devolução:</label>
    <input type="date" id="nome" name="classe.Nome" class="form-control" />

    <label for="nome">Hora devolução:</label>
    <input type="time" id="nome" name="classe.Nome" class="form-control" />

    <label for="nome">Idade:</label>
    <input type="number" id="nome" name="classe.Nome" min="18" class="form-control" />

    <button id="btn-proximo">Proximo</button>
</form>


<form>
    <div class="carro invisivel">
        <h1>Selecione o carro</h1>
                
        
            <div class="lbl-carros">                
                <div id="Img_car1" >
                    <img src="~/Content/CarrosImg/HB20.jpg" class="img-carro" />
                </div>
                <p class="ul-carro"> Modelo: HB20   </p>
                <p class="ul-carro"> Marca: Hyundai </p>        
                <p class="ul-carro"> Preço por X dias: 850,00R$ </p>          
                <button id="btnSlcCarro">Selecionar</button>                                                                                        
            </div>
     
        <div class="lbl-carros">
            <div id="Img_car2">
                <img src="~/Content/CarrosImg/FordFocus.jpg" class="img-carro" />
            </div>
            <p class="ul-carro"> Modelo: Focus   </p>
            <p class="ul-carro"> Marca: Ford </p>
            <p class="ul-carro"> Preço por X dias: 680,00R$ </p>
            <button id="btnSlcCarro">Selecionar</button>
        </div>

    </div>
</form>

<div class="protecao invisivel">
    <h1>Proteções</h1>
    <form>
        <table style="width:100%">
            <tr>
                <th>       </th>
                <th>Nenhuma</th>
                <th>Basica</th>
                <th>Completa</th>
            </tr>
            <tr>
                <th>Descrição</th>
                <td>Descrição do nenhuma proteção</td>
                <td>Descrição da proteção basica</td>
                <td>Descrição da proteção completa</td>
            </tr>
            <tr>
                <th>Preço</th>
                <td>00,00R$</td>
                <td>80,00R$</td>
                <td>120,00R$</td>
            </tr>
            <tr>
                <th>         </th>
                <td><button id="btnSlcProtecao">Contratar</button></td>
                <td><button id="btnSlcProtecao">Contratar</button></td>
                <td><button id="btnSlcProtecao">Contratar</button></td>
            </tr>
        </table>
    </form>
</div>


<div class="cliente invisivel">
    <h1>Cadastro de cliente</h1>
    <form >
        <label for="nome">Nome:</label>
        <input id="nome" name="cliente.Nome" class="form-control" />

        <label for="cpf">Cpf:</label>
        <input type="number" id="cpf" name="cliente.Cpf" class="form-control" />

        <label for="email">Email:</label>
        <input type="email" id="email" name="cliente.Email" class="form-control" />

        <label for="telofone">Telefone:</label>
        <input id="telefone" name="cliente.Telefono" class="form-control" />

        <label for="login">Login:</label>
        <input id="login" name="cliente.Login" class="form-control" />

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="cliente.Senha" class="form-control" />

        <input type="submit" value="Cadastrar" />
    </form>
</div>
<script type="text/javascript" src="~/Content/JS/Aluguel.js"></script>
