
<form class="data-hora">
    <h1>Aluguel</h1>
    <label for="nome">Data retirada:</label>
    <div class='input-group date' id='datetimepicker6'>
        <input data-format="yyyy-MM-dd" type='text' id="data_retirada" class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>   

    <label for="nome">Hora retirada:</label>
    <input type="time" id="hora_retirada" class="form-control date" />

    <label for="nome">Data devolução:</label>  
    <div class='input-group date' id='datetimepicker7'>
        <input type='text' id="data_devolucao" class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>

    </div>

    <label for="nome">Hora devolução:</label>
    <input type="time" id="hora_devolucao" class="form-control date" />

    <label for="nome">Idade:</label>
    <input type="number" id="data_idade" min="18" class="form-control date" />

    <button id="btn-proximo" type="button" class="btn btn-success">Proximo</button>




    <script type="text/javascript">

        $(function () {

        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            console.log(e.date)
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
    </script>
  
</form>


<form>
    <div class="carro invisivel" id="lista-carro">
        <h1>Selecione o carro</h1>               

    </div>
</form>

<div class="protecao invisivel">
    <h1>Proteções</h1>
    <form>
        <table class="table" id="tbl-protecao" style="width:100%">
            <tr>
                <td>       </td>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Selecione</th>
            </tr>
            <tr>
                <td class="invisivel">2002</td>
                <td>Nenhuma</td>
                <td>Descrição do nenhuma proteção</td>
                <td>00,00R$</td>
                <td>
                    <a class="btn-protecao btn btn-success btn-xs" role="button">Selecionar</a>
                </td>
            </tr>
            <tr>     
                <td class="invisivel">1002</td>      
                <td>Basica</td>
                <td>Descrição da proteção basica</td>
                <td>80,00R$</td>
                <td>
                    <a class="btn-protecao btn btn-success btn-xs" role="button">Selecionar</a>
                </td>
            </tr>
            <tr>
                <td class="invisivel">1003</td>
                <td>Completa</td>
                <td>Proteção completa</td>
                <td>120,00R$</td>
                <td>
                    <a class="btn-protecao btn btn-success btn-xs" role="button">Selecionar</a>
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="clienteLogar invisivel">
    <form>
        <label for="login">Login:</label>
        <input id="login_autentica" class="form-control" />

        <label for="senha">Senha:</label>
        <input id="senha_autentica" type="password" class="form-control margin-bot" />

        <div id="fail-login" class="modal">
            <p>Login ou senha incorreto</p>
            <a class="btn btn-success" href="#" rel="modal:close">Fechar</a>
        </div>

        <input class="btn btn-success margin-bot" id="btn-logar" type="submit" value="Logar" />
        <p><a class="btn btn-success" href="#ex1" rel="modal:open">Ainda não tem conta?</a></p>
    </form>
</div>

<div id="ex1" class="cliente modal">
    <h1>Cadastro de cliente</h1>

    <label for="nome">Nome:</label>
    <input id="nome" name="cliente.Nome" class="form-control" />

    <label for="cpf">Cpf:</label>
    <input id="cpf" type="number" name="cliente.Cpf" class="form-control" />

    <label for="email">Email:</label>
    <input type="email" id="email" name="cliente.Email" class="form-control" />

    <label for="telofone">Telefone:</label>
    <input id="telefone" name="cliente.Telefono" class="form-control" />

    <label for="login">Login:</label>
    <input id="login" name="cliente.Login" class="form-control" />

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="cliente.Senha" class="form-control" />

    <button id="btn-cadastrar" type="button" class="btn btn-success">Cadastrar</button>
</div>

<div id="confirmacao" class="invisivel">
    <div class="Img_car1 lbl-carro">
        <img src="/Content/CarrosImg/FordFocus.jpg" class="img-carro">
    </div>
    <div class="lbl-carros">
        <h3>Carro</h3>
        <p class="ul-carro" id="cModelo-car">Modelo: Siena</p>
        <p class="ul-carro" id="cMarca-car">Marca: Fiat</p>
        <p class="ul-carro" id="cPreco-car">Preco: 120,00R$</p>
    </div>
    
    <div class="lbl-carros">
        <h3>Data</h3>
        <p class="ul-carro" id="cRetirada">De: 10/08/2017 as 12:00h</p>
        <p class="ul-carro" id="cDevolucao">Até: 17/08/2017 as 16:00h</p>
    </div>
    
    <div class="lbl-carros">
        <h3>Proteção</h3>
        <p class="ul-carro" id="cProtecao">Proteção: Básica</p>
        <p class="ul-carro" id="cPreco-protecao">Preco: 80,00R$</p>     
    </div>

    <div class="lbl-carros">
        <h3>Valor Total</h3>
        <p class="ul-carro" id="cTotal">Total: 200,00R$</p>
    </div>
    <input class="btn btn-success" id="btnConfirmar" type="submit" value="Confirmar" />
</div>

<div id="loading" class="center invisivel">
    <img src="~/Content/Img/spinner.gif" alt="Spinner" id="spinner">
</div>

<div id="cadastro-sucesso" class="modal">
    <p>Locação realizada com sucesso</p> 
    <a id="VoltaHome" href="#" rel="modal:close">Concluir</a>
</div>

<script type="text/javascript" src="~/Content/JS/Aluguel.js">       </script>
<script type="text/javascript" src="~/Content/JS/CriarElementos.js"></script>
<script type="text/javascript" src="~/Content/JS/UsuarioAluguel.js"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>