
<div class="caixa">
    <h1 style="text-align: center">Sobre nós</h1>
    <div class="caixaimagem">
        <img src="~/Content/CarrosImg/AudiA5.png" />
        <p>Audi A5</p>
        <p>Super Luxo</p>
        <p>Duas malas</p>
        <p>Km Livres</p>
        <button class="btn btn-success btnImagem" style="float: right">Alugue agora</button>
    </div>
</div>
<div>
    <h2>Do avião direto para o carro</h2>
    <p>Saia do seu avião e va direto para o seu carro, sem perder tempo</p>
</div>
<p class="caixaTexto">Trabalhamos a dez anos no mercado, trabalhamos com diversos marcas e modelos de carros disponiveis no mercado</p>