
<div class="divTexto">
    <h1 class="Titulo">Sobre nós</h1>
</div>
<p>Trabalhamos a dez anos no mercado com diversos marcas e modelos de carros</p>

<div class="divTexto">
    <h1 class="Titulo">Melhores Ofertas</h1>
</div>

<div class="caixa">
    <h1 style="text-align: center">Audi A5</h1>
    <div class="caixaimagem">
        <img src="~/Content/CarrosImg/AudiA5.png" />
        <p>Super Luxo</p>
        <p>Duas malas</p>
        <p>Km Livres</p>
        <form action="/Aluguel/Form">
            <button class="btn btn-success btnImagem" style="float: right">Alugue agora</button>
        </form>
    </div>
</div>

<div class="caixa2">
    <h1 style="text-align: center">Toyota Corolla 2018</h1>
    <div class="caixaimagem">
        <img class="carro-home" src="~/Content/Carros/20170405051925-principal-corolla-2018.png" />        
        <p>Super Luxo</p>
        <p>Duas malas</p>
        <p>Km Livres</p>
        <form action="/Aluguel/Form">
            <button class="btn btn-success btnImagem" style="float: right">Alugue agora</button>
        </form>
    </div>
</div>

