
<form action="/Marca/Adiciona" method="post">

    <label for="nome">Nome:</label>
    <input id="nome" name="marca.nome" class="form-control" />

    <input type="submit" value="Cadastrar" />
</form>
