@model IList<LocadoraCarro.Models.Marca>

<div class="divTexto">
    <h1 class="Titulo">Marca</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var marca in Model)
        {
            <tr>
                <td>@marca.Id</td>
                <td>
                    @Html.ActionLink(marca.Nome, "Visualiza", new { id = marca.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-success" onclick="location.href='@Url.Action("Form", "Marca")';return false;">Adicionar</button>