
<form action="/Protecao/Adiciona" method="post">

    <label for="nome">Nome:</label>
    <input id="nome" name="protecao.Nome" class="form-control" />

    <label for="descricao">Descricao:</label>
    <input id="descricao" name="protecao.Descricao" class="form-control" />

    <label for="precoHora">Preço por Dia:</label>
    <input id="precoHora" name="protecao.PrecoDia" class="form-control" />

    <input type="submit" value="Cadastrar" />
</form>

