
@model IList<LocadoraCarro.Models.Protecao>

<div class="divTexto">
    <h1 class="Titulo">Cadastro de Proteção</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var protecao in Model)
        {
            <tr>
                <td>@protecao.Id</td>
                <td>
                    @Html.ActionLink(protecao.Nome, "Visualiza", new { id = protecao.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-success" onclick="location.href='@Url.Action("Form", "Protecao")';return false;">Adicionar</button>