
<form action="/Funcao/Adiciona" method="post">

    <label for="nome">Nome:</label>
    <input id="nome" name="funcao.nome" class="form-control" />

    <label for="descricao">Descricao:</label>
    <input id="descricao" name="funcao.Descricao" class="form-control" />

    <input type="submit" value="Cadastrar" />
</form>

