@model IList<LocadoraCarro.Models.Funcao>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var funcao in Model)
        {
            <tr>
                <td>@funcao.Id</td>
                <td>
                    @Html.ActionLink(funcao.Nome, "Visualiza", new { id = funcao.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Adicionar", "Form", "Funcao")
