<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Css/Site.css" />
    <title>ClientePage</title>
</head>
<body>
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li>@Html.ActionLink("Proteção", "Index", "Protecao")</li>
            <li>@Html.ActionLink("Carros", "Index", "Carro")</li>
            <li><a>Aluguel</a></li>
            <li>
        </ul>
        <h3 class="text-muted">Cliente Page</h3>
    </div>
    <div id="conteudo">
        @RenderBody()
    </div>
</body>
</html>
