
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Css/Site.css" />
    <title>_Layout</title>
</head>
<body>
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li>@Html.ActionLink("Modelos dos carros", "Index", "Modelo")</li>
            <li>@Html.ActionLink("Marca dos carros", "Index", "Marca")</li>
        </ul>
        <h3 class="text-muted">Locadora Carro</h3>
    </div>
    <div id="conteudo">
        @RenderBody()
    </div>
</body>
</html>
