.carro {
    border: 5px solid blue;     
}

.img-carro {
    height: 100px;
    width: 220px;
    float:left;
    clear: left;
    border: 2px solid black;
}

.lbl-carros {
    border: 2px solid blue;
    display: grid;
    margin-bottom: 50px;
    height: 100px;
}

.ul-carro {
    border-bottom: 2px solid gray;
}

.slc-carro {
    text-align: right;
}

#btn-proximo {
    margin-top:10px;
    float: right;
}

.visivel {
    display: grid;
}

.invisivel {
    display: none;
}