.carro {
    border: 5px solid bludase;     
}

.img-carro {
    height: 100px;
    width: 220px;
    float: left;
    clear: left;

}

.lbl-carros {
    display: grid;
    margin-bottom: 50px;
    height: 100px;
    width: 500px;
}

.ul-carro {
    border-bottom: 2px solid gray;
}

.slc-carro {
    text-align: right;
}

#btn-proximo {
    margin-top:10px;
    float: right;
    clear : left;
}

.visivel {
    display: grid;
}

.invisivel {
    display: none;
}

#btnSlcCarro {
    width: 90px;
}